Package: skychart-data-dso
Version: 3
Section: science
Priority: optional
Maintainer: Patrick Chevalley <pch@freesurf.ch>
Architecture: all
Depends: skychart
Description: DSO catalog data for Skychart / Cartes du Ciel planetarium software
 Contain the catalogs: NGC, PGC, GCM, GPN, LBN, OCL
 .
