Package: skychart
Version: 3
Section: science
Priority: optional
Maintainer: Patrick Chevalley <pch@freesurf.ch>
Architecture: amd64
Depends: libc6, libx11-6, libgtk2.0-0, libglib2.0-0, libpango1.0-0, libjpeg62, libpng12-0, libsqlite3-0
Suggests: skychart-pictures, indi, xplanet
Description: Skychart / Cartes du Ciel planetarium software
 Planetarium software for the advanced amateur astronomer.
 .
