Package: skychart-pictures
Version: 1.0.0.1-1
Section: science
Priority: optional
Maintainer: Patrick Chevalley <pch@freesurf.ch>
Architecture: all
Depends: skychart
Description: Skychart / Cartes du Ciel Pictures of Deepsky objects
 Pictures of Deepsky objects to use with Skychart planetarium software.
 .
