[Desktop Entry]
Version=1.0
Type=Application
Name=Skychart
GenericName=Planetarium
Comment=Planetarium software for the advanced amateur astronomer
TryExec=skychart
Exec=skychart %f
Icon=skychart
Terminal=false
Categories=Science;Astronomy;
MimeType=text/x-skychart;
