[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Skychart
Comment=Skychart / Cartes du Ciel
Exec=skychart
Icon=skychart
Terminal=false
Type=Application
Categories=Astronomy;Education;Application
GenericName[fr_CH]=
